header {
	display: flex;
	flex-wrap: wrap;
}

.header-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 100px;
	max-width: 600px;
}

#language-header {
	margin: .5em;
}


#main-language-card-container {
	display: flex;
	justify-content: space-around;
	column-gap: .5em;
	padding: .5em;
}

.language-card {
	font-size: 3em;
	padding: .2em .2em 0 .2em;
	background-color: rgb(137, 135, 247);
	border-radius: .5em;
	display: inline;
}

.language-card-smaller {
	font-size: 2em;
	padding: .1em .1em 0 .1em;
	background-color: rgb(137, 135, 247);
	border-radius: .2em;
	display: inline;
}

.language-card:hover {
	background-color: rgb(94, 93, 160);
}

.logo {
	height: 50px;
}

.logo-smaller {
	height: 30px;
}

.minutia-card {
	padding: .5em;
	border-radius: .5em;
	background-color: rgb(62, 36, 60);
}
#minutia {
	padding: .5em;
	display: flex;
	column-gap: .5em;
}