.epoch {
	margin: .5em 0;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	overflow: hidden;
}

.accordion-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 0;
	color: var(--textDefault);
	background-color: var(--speakingViolet);
}

#experiences h2 {
	font-family: "Rajdhani", sans-serif;
	font-weight: bold;
}

.accordion-panel {
	background-color: var(--blueForYou);
}

.accordion-icon {
	font-size: 2em;
	margin-right: .2em;
}

.collapsed {
	/* display: none; */
	padding: 0 .5em;
	max-height: 0px;
	transition: all .25s;
}

.expanded {
	/* display: block; */
	padding: .5em;
	max-height: 50em;
	transition: all .25s;
}