#experiences {
	padding: 0 1em;
}

.main-section {
	display: flex;
	justify-content: space-between;
}

@keyframes fadeIn { 
	from { opacity: .15; } 
}

.side-decoration {
	flex: 1 1 0px;
	max-width: 90px;
	background-image: url('../images//SideDecorations.svg');
	opacity: .7;
	animation: fadeIn 5s infinite alternate;
}

.flip-me {
	transform: rotate(180deg);
}

.epoch {
	margin: .5em 0;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	overflow: hidden;
}
#experiences h2 {
	font-family: var(--slimSleek);
	font-weight: bold;
}

.accordion-header {
	font-family: var(--slimSleek);
	font-size: .9em;
	display: flex;
	align-items: center;
	border: 0;
	color: var(--textDefault);
	background-color: var(--speakingViolet);
	border: 2px solid transparent;
}

.accordion-header:focus-visible {
	outline: 2px solid white;
	border: 2px solid white;
	border-radius: 1.2em 1.2em;
}


h3 {
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}

.accordion-panel {
	background-color: var(--blueForYou);
}

.position-text {
	color: var(--linkBase);
}

.dates {
	font-weight: bold;
	font-size: .8em;
	color: var(--whisperingViolet);
}

.accordion-icon {
	font-size: 2em;
	margin: 0 .2em 0 1em;
}

.active {
	cursor: pointer;
}


.not-expandable {
	color: var(--whisperingViolet);
}

.collapsed {
	visibility: hidden;
	padding: 0 .5em;
	max-height: 0px;
	transition: all .25s;
}

.expanded {
	visibility: visible;
	padding: .5em;
	max-height: 50em;
	transition: all .25s;
}

.position, .achievement, .publication {
	margin: 0 0 .75em 0;
	display: flex;
	justify-content: space-between;
	font-family: var(--vsCode);
	font-size: .75em;
}

.publication span b {
	color: var(--linkBase);
}

.publicationLinks {
	display: block;
	flex-shrink: 0;
}

.publicationLink {
	color: var(--linkBase);
	font-size: 2em;
	margin: 0 .2em;
}

.publicationLink:hover, .publicationLink:focus {
	color: var(	--linkHover);
}

.publicationLink:active {
	color: var(--linkActive);
}

.press-releases {
	margin-bottom: 1.75em;
}
