p {
	max-width: 600px;
	align-self: center;
	border-radius: 1em;
	background-color: #1b1a1e;
	padding: 2em;
}

a {
	font-weight: bold;
	color: #8987f7;
	text-decoration: none;
}

a:hover {
	color: #5b58da;
}

a:active, a:focus {
	color: #3f3b9f;
}