.project {
	background-color: rgb(62, 36, 60);
	max-width: 575px;
	padding: .5em;
	border-radius: 1em;
}

.project h3 {
	margin: 0;
}

.project-content {
	display: flex;
	margin: 1em 0;
	border-radius: 1em;
	overflow: hidden;
}

.project-image {
	max-width: 350px;
	height: 100%;
}

.project-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color:  rgb(31, 42, 46);
	padding: .3em;
	min-width: 200px;
}

.project-text p {
	margin-top: 0;
}

.project-tools {
	display: flex;
	align-items: center;
}

.project-tools span {
	padding-right: .5em;
}

.project-tools i {
	font-size: 1.75em;
	margin: 0 .2em;
}

.logo {
	height: 25px;
}

.project-footer {
	display: flex;
	justify-content: center;
}

.project-link {
	font-weight: bold;
	color: #8987f7;
	font-family: "Rajdhani", sans-serif;
	text-decoration: none;
}

.link-separator:after {
	font-weight: bold;
	font-weight: bolder;
	content: "|";
	margin: 0 1em;
}
