body {
	background-color: #1b1a1e;
	color: whitesmoke;
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
}

.flatten {
	padding: 0 2em 0 0;
	display: inline-flex;
}

.flatten li {
	list-style-type: none;
}

.flatten li a {
	color: whitesmoke;
	margin: 0px 5px;
	background-color: #464256;
}

nav .flatten li a {
	padding: .3em;
	border-radius: .5em;
}

.flatten li a {
	padding: .4em;
	border-radius: 2em;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, .25);
}

.flatten li a:hover, a:focus {
	/* important required on focus */
	color: rgb(196, 160, 250) !important; 
	background-color: rgba(196, 163, 227, 0.25);
}

.flatten li a:active {
	color: rgb(67, 14, 120);
	box-shadow: 0 0 0;
}

.link-button {
	text-decoration: none;
}

.main-section {
	padding: 0em .5em .2em .5em;
	border-bottom: solid 2px rgb(198, 117, 221);
}

hr {
	border-color: rgb(198, 117, 221);
	margin: 0;
}

h1 {
	font-size: 2em;
	display: inline-block;
	margin: 1.55em 0 0 0;
}

h2 {
	font-family: "Rajdhani", sans-serif;
	font-weight: normal;
}

h3 {
	font-weight: normal;
}

p {
	font-family:  "Source Code Pro", monospace;
	font-size: .9em;
}

nav {
	display: flex;
	align-content: flex-end;
	justify-content: right;
	position: fixed;
	width: 100vw;
	background-color: #363342;
	margin: -8px 0 0 0;
	border-bottom: solid 2px rgb(198, 117, 221);
	z-index: 100;
}

header {
	padding: 2.7em .5em 0 .5em;
	border-bottom: solid 2px rgb(198, 117, 221);
	display: flex;
}

.header-left {
	position: relative;
	max-width: 600px;
	flex: 1 1 400px;
	width: 100vw;
	/* border-right: solid 2px rgb(198, 117, 221); */
	display: inline-flex;
	flex-direction: column;
}

#header-w-avatar {
	display: flex;
	position: relative;
}

#header-w-avatar:after {
	content: '';
	position: absolute;
	background-color: rgb(198, 117, 221);
	bottom: 0;
	left: 0;
	width: 450px;
	max-width: 100%;
	height: 2px;
	z-index: 1;
}

#header-avatar-container {
	z-index: 3;
	height: 70px;
	width: 70px;
	background-color: #363342;
	border-radius: 2em;
	margin-top: .5em;
}

#header-avatar {
	height: 83px;
	content: url('../images/avatar.png');
}

#header-title {
	position: relative;
	z-index: 5;
}

footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: end;
	padding: 0em .5em .2em .5em;
	background-color: #363342;
}

#connect {
	padding: 1em 0;
}

#connect ul {
	margin: 0;
}
