body {
	background-color: #1b1a1e;
	color: whitesmoke;
	font-family: 'Courier New', Courier, monospace;
}

ul.flatten {
	padding: 0 2em 0 0;
	display: inline-flex;
}

ul.flatten li {
	list-style-type: none;
}

ul.flatten li a {
	color: whitesmoke;
	margin: 0px 5px;
}

nav ul.flatten li a {
	padding: .3em;
	border-radius: .5em;
}

ul.flatten li a {
	padding: .4em;
	border-radius: 2em;
}

ul.flatten li a:hover {
	color: rgb(198, 117, 221);
	background-color: rgba(227, 163, 216, 0.1);
}

ul.flatten li a:active {
	color: rgb(133, 18, 164);
}

.link-button {
	text-decoration: none;
}

hr {
	border-color: rgb(198, 117, 221);
	margin: 0;
}

h1 {
	font-size: 2em;
	display: inline-block;
	margin-bottom: .2em;
}

h2 {
	font-family: "Rajdhani", sans-serif;
	font-weight: normal;
}

p {
	font-family:  "Source Code Pro", monospace;
	font-size: .9em;
}

nav {
	display: flex;
	/* flex-direction: column; */
	align-content: flex-end;
	justify-content: right;
	position: fixed;
	width: calc(100vw - 16px);
	background-color: #1b1a1e;
	margin: -8px 0 0 0;
	border-bottom: solid 2px rgb(198, 117, 221);
}

header {
	padding-top: 2em;
}

footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: end;
	border-top: solid 2px rgb(198, 117, 221);
}

#header-info {
	max-width: 600px;
	border-right: solid 2px rgb(198, 117, 221);
	display: inline-flex;
	flex-direction: column;
}

#header-title hr {
	max-width: 60%;
}

#teaser {
	display: inline-block;
}

#socials {
	display: inline-flex;
}

#connect {
	padding: 1em 0;
}

#connect ul {
	margin: 0;
}